body {
  text-align: center;
  margin-top: 50px;
}

h1 {
  display: block;
  margin-bottom: 10px;
}

.btn {
  margin:0 20px;
}

.oscilloscope {
  margin-bottom: 20px;
  width: 160px;
  height: 80px;
  border-radius: 40px;
}
